bokeh >= 2.1.1
cachetools
dask[complete] == 2022.1.0
jupyter-server-proxy
motor
psutil
pyjson5
pympler
requests
strictyaml
ujson
vuespa >= 0.5.2
#git+https://github.com/wwoods/python-vuespa@master
# v20
